<h1>Shopping Cart</h1>

<h5>Order Details</h5>

<table width="80%" border="1px">
    <tr>
        <th>Name</th>
        <th>Qty</th>
        <th>Unit Cost</th>
        <th>Total</th>
    </tr>
    <tr>
        <td><?php echo $this->escapeHtml($order->getProduct()->name); ?></td>
        <td align="center"><?php echo $this->escapeHtml($order->qty); ?></td>
        <td align="center"><?php echo $this->escapeHtml($order->getProduct()->cost); ?></td>
        <td align="right"><?php echo $this->escapeHtml($order->total); ?></td>
    </tr>
    <tr>
        <td colspan="3" align="right"><strong>Total:</strong></td>
        <td align="right"><?php echo $this->escapeHtml($order->total); ?></td>
    </tr>
</table>
<br />
<h5>Payment Options</h5>

<form action="<?php echo $this->url(NULL, array('controller'=>'Store', 'action' => 'paypalExpressCheckout')); ?>" METHOD='POST'>
<input type="hidden" name='orderId' value="<?php echo $this->escapeHtml($order->id); ?>">
<input type='image' name='submit' src='https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif' border='0' align='top' alt='Check out with PayPal'/>
</form>

