<!-- Users/view/users/upload-manager/edit.phtml -->

<!-- Следующая логика служит для вывода сообщений об ошибках-->
<section class="upload">
<h2>Edit Upload</h2>
<?php if ($this->error): ?>
<p class="error">
    There were one or more issues with your submission.
    Please correct them as indicated below.
</p>
<?php endif; ?>

<!-- Cледующий блок предназначен для генерации HTML-тега <form> при помощи 
объекта form, присвоенного представлению в контроллере -->
<?php 
/*
 * Что за хрень? Без нее работает.
 */
$form=$this->form;
/*
 * Метод prepare класса Form гарантирует, что сообщения об ошибках доступны и 
 * подготавливает любые элементы и поля, которые требуют подготовки
 */
$form->prepare();

$form->setAttribute('action', $this->url(NULL, 
        array('controller'=>'UploadManager', 'action'=>'processEdit')));
$form->setAttribute('method', 'post');

/*
 * Открыть тег <form>. Метод находится в классе-помощнике Form который 
 * наследует AbstractHelper.
 */
echo $this->form()->openTag($form);
?>

<dl class="zend_form">
        
    <dt><?php echo $this->formLabel($form->get('label')); ?></dt>
    <?php echo $this->formElement($form->get('id')); ?>
    <?php echo $this->formElement($form->get('user_id')); ?>
    <dd><?php
        echo $this->formElement($form->get('label'));
        echo $this->formElementErrors($form->get('label'));
    ?></dd>
    
    <dt><?php echo $this->formLabel($form->get('filename')); ?></dt>
    <dd><?php
    echo $this->formElement($form->get('filename'));
    echo $this->formElementErrors($form->get('filename'));
    ?></dd>
    <dd><?php
        echo $this->formElement($form->get('submit'));
        echo $this->formElementErrors($form->get('submit'));
    ?></dd>
</dl>

<!-- Закрываем HTML-тег </form> -->
<?php echo $this->form()->closeTag() ?>
</section>


<section class="upload-sharing">
    <h3>Upload Sharing</h3>
    <table class="table">
        <tr>
            <th>Shared User</th>
            <th>Actions</th>
        </tr>
        <?php foreach ($sharedUsers as $shareId => $userName) : ?>
        <tr>
            <td><?php echo $this->escapeHtml($userName); ?></td>
            <td>
                <a href="<?php echo $this->url('users/upload-manager', 
                        array('action' => 'deleteShare', 'id' => $shareId)); ?>" 
                        onclick="return confirm('Are you sure?')">Delete</a>
            </td>
        </tr>
        <?php endforeach; ?>
    </table>
    
    <h3>Add Sharing</h3>
    <?php if ($this->error): ?>
    <p class="error">
        There were one or more isues with your submission. Please correct them as 
        indicated below.
    </p>
    <?php endif ?>
    <?php 
    $uploadShareForm = $this->uploadShareForm;
    $uploadShareForm -> prepare();
    $uploadShareForm->setAttribute('action', $this->url(NULL, array(
        'controller'=>'UploadManager', 'action' => 'processUploadShare'
        )));
    $uploadShareForm->setAttribute('method', 'post');
    
    echo $this->form()->openTag($uploadShareForm);
    ?>
    
    <?php 
        echo $this->formElement($uploadShareForm->get('upload_id'));
        echo $this->formElementErrors($uploadShareForm->get('upload_id'));
    ?>
    <table class="table">
        <tr>
            <td>Choose User:</td>
            <td><?php
            echo $this->formElement($uploadShareForm->get('user_id'));
            echo $this->formElementErrors($uploadShareForm->get('user_id'));
            ?></td>
        </tr>
        <tr>
            <td> &nbsp;</td>
            <td><?php echo $this->formElement($uploadShareForm->get('submit'));
                echo $this->formElementErrors($uploadShareForm->get('submit'));
                ?>
            </td>
        </tr>
    </table> 
    
    <?php echo $this->form()->closeTag() ?>
    
</section>






























