<!-- Users/view/users/upload-manager/index.phtml -->

<!-- Следующая логика служит для вывода сообщений об ошибках-->
<section class="upload">
<h2>Upload</h2>
<?php if ($this->error): ?>
<p class="error">
    There were one or more issues with your submission.
    Please correct them as indicated below.
</p>
<?php endif; ?>

<!-- Cледующий блок предназначен для генерации HTML-тега <form> при помощи 
объекта form, присвоенного представлению в контроллере -->
<?php 
/*
 * Что за хрень? Без нее работает.
 */
$form=$this->form;
/*
 * Метод prepare класса Form гарантирует, что сообщения об ошибках доступны и 
 * подготавливает любые элементы и поля, которые требуют подготовки
 */
$form->prepare();

$form->setAttribute('action', $this->url(NULL, 
        array('controller'=>'UploadManager', 'action'=>'processUpload')));
$form->setAttribute('method', 'post');

/*
 * Открыть тег <form>. Метод находится в классе-помощнике Form который 
 * наследует AbstractHelper.
 */
echo $this->form()->openTag($form);
?>

<!-- Cледующий раздел служит для генерации отдельных элементов формы, 
соответствующих полям Name(Имя), Email(Электронная почта), Password(Пароль), 
Confirm Password(Подтвердить пароль) и Submit(Отправить) -->
<dl class="zend_form">
        
    <dt><?php echo $this->formLabel($form->get('label')); ?></dt>
    <dd><?php
        echo $this->formElement($form->get('label'));
        echo $this->formElementErrors($form->get('label'));
    ?></dd>
    
    <dt><?php echo $this->formLabel($form->get('fileupload')); ?></dt>
    <dd><?php
        echo $this->formElement($form->get('fileupload'));
        echo $this->formElementErrors($form->get('fileupload'));
    ?></dd>
       
    <dd><?php
        echo $this->formElement($form->get('submit'));
        echo $this->formElementErrors($form->get('submit'));
    ?></dd>
</dl>

<!-- Закрываем HTML-тег </form> -->
<?php echo $this->form()->closeTag() ?>
</section>

