<!-- Users/view/users/user-manager/index.phtml -->

<h3>Users</h3>
<table class="table">
    <tr>
        <th>Name</th>
        <th>User ID/Email</th>
        <th>&nbsp;</th>
    </tr>
    
    <?php foreach ($users as $user) : ?>
    <tr>
        <td><?php echo $this->escapeHtml($user->name); ?></td>
        <td><?php echo $this->escapeHtml($user->email); ?></td>
        <td>
            <a href="<?php echo $this->url('users/user-manager', //url берет маршруты из module.config.php
                    array('action' => 'edit', 'id' => $user->id)); ?>">Edit</a> |
            <a href="<?php echo $this->url('users/user-manager', 
                    array('action' => 'delete', 'id' => $user->id)); ?>" 
                    onclick="return confirm('Are you sure')">Delete</a>
        </td>
    </tr>
    <?php endforeach; ?>

</table>

<a href="<?php echo $this->url('users/register', 
                    array('action' => 'index')); ?>">Add User</a>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    