<!-- Users/view/users/register/index.phtml -->

<!-- Следующая логика служит для вывода сообщений об ошибках-->
<section class="register">
<h2>Register</h2>
<?php if ($this->error): ?>
<p class="error">
    There were one or more issues with your submission.
    Please correct them as indicated below.
</p>
<?php endif; ?>

<!-- Cледующий блок предназначен для генерации HTML-тега <form> при помощи 
объекта form, присвоенного представлению в контроллере -->
<?php 
/*
 * Что за хрень? Без нее работает.
 */
$form=$this->form;
/*
 * Метод prepare класса Form гарантирует, что сообщения об ошибках доступны и 
 * подготавливает любые элементы и поля, которые требуют подготовки
 */
$form->prepare();

$form->setAttribute('action', $this->url(NULL, 
        array('controller'=>'Register', 'action'=>'process')));
$form->setAttribute('method', 'post');

/*
 * Открыть тег <form>. Метод находится в классе-помощнике Form который 
 * наследует AbstractHelper.
 */
echo $this->form()->openTag($form);
?>

<!-- Cледующий раздел служит для генерации отдельных элементов формы, 
соответствующих полям Name(Имя), Email(Электронная почта), Password(Пароль), 
Confirm Password(Подтвердить пароль) и Submit(Отправить) -->
<dl class="zend_form">
    <dt><?php echo $this->formlabel($form->get('name')); ?></dt>
    <dd><?php
        /*
         * Метод get вызывается в классе FieldSet, от которого наследуется
         * класс Form, от которого наследуется наш класс RegisterForm.
         * 
         * Класс-помощник (helper) FormElement вызывается как функция. Метод 
         * __invoke() этого класса отображает требуемые поля формы. (Метод 
         * __invoke() вызывается, когда скрипт пытается выполнить объект как 
         * функцию.) 
         */
        echo $this->formElement($form->get('name'));    
        echo $this->formElementErrors($form->get('name'));
    ?></dd>
    
    <dt><?php echo $this->formLabel($form->get('email')); ?></dt>
    <dd><?php
        echo $this->formElement($form->get('email'));
        echo $this->formElementErrors($form->get('email'));
    ?></dd>
    
    <dt><?php echo $this->formLabel($form->get('password')); ?></dt>
    <dd><?php
        echo $this->formElement($form->get('password'));
        echo $this->formElementErrors($form->get('password'));
    ?></dd>
    
    <dt><?php echo $this->formLabel($form->get('confirm_password')); ?></dt>
    <dd><?php
        echo $this->formElement($form->get('confirm_password'));
        echo $this->formElementErrors($form->get('confirm_password'));
    ?></dd>
    
    <dd><?php
        echo $this->formElement($form->get('submit'));
        echo $this->formElementErrors($form->get('submit'));
    ?></dd>
</dl>

<!-- Закрываем HTML-тег </form> -->
<?php echo $this->form()->closeTag() ?>
</section>

