<hr />
<a href="<?php echo $this->url('users/html5-test',
            array('action'=>'form'));?>">&raquo; Test Form</a>
<hr />
<a href="<?php echo $this->url('users/html5-test',
            array('action'=>'multiUpload'));?>">&raquo; Test Multi Upload</a>
