<!-- Users/view/users/media-manager/uploadGoogle.phtml -->

<section class="upload">
    
    
    <h3>Add Photo</h3>
    <?php if ($this->error): ?>
    <p class="error">
        There were one or more isues with your submission. Please correct them as 
        indicated below.
    </p>
    <?php endif ?>
    <?php 
    $form = $this->form;
    $form -> prepare();
    $form->setAttribute('action', $this->url(NULL, array(
        'controller'=>'MediaManager', 'action' => 'processUploadGoogle'
        )));
    $form->setAttribute('method', 'post');
    
    echo $this->form()->openTag($form);
    ?>
    <dl class="zend_form">
        
        <dt><?php echo $this->formLabel($form->get('imageupload')); ?></dt>
        <dd><?php
            echo $this->formElement($form->get('imageupload'));
            echo $this->formElementErrors($form->get('imageupload'));
        ?></dd>
    </dl> 
    
    <br />

    <table class="table">
        <tr>
            <td>Choose Album:</td>
            <td><?php
            echo $this->formElement($form->get('album_id'));
            echo $this->formElementErrors($form->get('album_id'));
            ?></td>
        </tr>
        <tr>
            <td> &nbsp;</td>
            <td><?php echo $this->formElement($form->get('submit'));
                echo $this->formElementErrors($form->get('submit'));
                ?>
            </td>
        </tr>
    </table> 
    
    <?php echo $this->form()->closeTag(); ?>
    
</section>






























