<section class="upload">
    <h2><?php echo $this->escapeHtml($upload->label);?></h2>
    <h4><?php echo $this->escapeHtml($upload->filename);?></h4>
    <img src="<?php echo $this->url('users/media',
        array('action'=>'showImage', 'id' => $upload->id, 'subaction' => 'full'));?>" />
    <br />
    <a href="<?php echo $this->url('users/media',   
        array('action' => 'rotateLeft', 'id' => $upload->id)); ?>" 
            onclick="return confirm('Are you sure')">Rotate Left</a>
    <a href="<?php echo $this->url('users/media',
        array('action' => 'rotateRight', 'id' => $upload->id)); ?>" 
            onclick="return confirm('Are you sure')">Rotate Right</a>
</section>
<br />
<br />
<a href="<?php echo $this->url('users/media');?>">&raquo; Show Gallery</a>